################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/node_modules
/lib/bitcoinjs/node_modules
/dist
