<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Analyse trust">

    <title>Analyse Trust</title>

    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
        body {
            font-size: 12px;
            /*margin: 0px;*/
        }
        .trustList {
            padding: 5px;
        }
        .trustList th, .trustList td {
            padding: 5px;
        }

        .trusted {
            color: green;
        }
        .distrusted {
            color: red;
        }
        .subjectTitle {
            font-weight: bold;
            font-size: 9pt;
        }
    </style>
    <script src="lib/jquery/jquery-2.0.3.min.js"></script>
    <!-- <script src="lib/angularJS/angular.min.js"></script> -->
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/identiconjs/identicon.js"></script>
    <script src="lib/bitcoinjs/bitcoin.js"></script>
    <script src="lib/notify/notify.min.js"></script>
    <!-- <script src="js/common.js"></script>
    <script src="js/SettingsController.js"></script>
    <script src="js/PackageBuilder.js"></script>
    <script src="js/TrustchainService.js"></script>
    <script src="js/TrustHandler.js"></script>
    <script src="js/SubjectService.js"></script>
    <script src="js/trustlist.js"></script> -->
</head>

<body ng-app="myApp" ng-controller="trustlistCtrl as trustCtrl" data-ng-init="trustCtrl.init()">
    <div class="container" ng-show="trustCtrl.showContainer">
        <div class="row">
            <div class="col-xs-12">
               <button type="button" ng-click="trustCtrl.historyBack()" class="btn btn-default btn-xs" ng-style="{'visibility': (trustCtrl.history.length > 0)?'visible':'hidden'}" >
                   <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Back</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3>Subject</h3>
                <table class="trustList" >
                    <tr>
                        <td>
                            <img ng-src="data:image/svg+xml;base64,{{ trustCtrl.subject.identiconData64 }}">
                        </td>
                        <td>
                            <div>Alias:{{ trustCtrl.subject.alias }}</div>
                            <div>Address: {{ trustCtrl.subject.address }} - 
                                <a href="#" ng-click="trustCtrl.trustClick(trustCtrl.subject);" ng-title="Trust {{ trustCtrl.subject.alias }}">[T]</a>
                                <a href="#" ng-click="trustCtrl.distrustClick(trustCtrl.subject);" ng-title="Distrust {{ trustCtrl.subject.alias }}">[D]</a>
                                <a href="#" ng-click="trustCtrl.untrustClick(trustCtrl.subject);" ng-title="Untrust {{ trustCtrl.subject.alias }}">[U]</a>
                            </div>
                            <div ng-hide="!trustCtrl.subject.owner.address" class="small">Owner entity: <img ng-src="data:image/svg+xml;base64,{{ trustCtrl.subject.owner.identiconData16 }}" ng-click="trustCtrl.analyseClick(trustCtrl.subject.owner)"> {{ trustCtrl.subject.owner.address }}</div>
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" ng-show="trustCtrl.trusted.length > 0">
            <div class="col-xs-12">
                <h4>Trusted by:</h4>
                <table class="trustList" >
                    <tr ng-repeat="trust in trustCtrl.trusted">
                        <td>
                            <a href="#" ng-click="trustCtrl.analyseClick(trust)"><img ng-src="data:image/svg+xml;base64,{{ trust.identiconData64 }}"></a>
                        </td>
                        <td>
                            <div ng-hide="!trust.alias">Alias: {{ trust.alias }}</div>
                            <div>Address: {{ trust.issuer.address }} - 
                                <a href="#" ng-click="trustCtrl.trustClick(trust);" ng-title="Trust {{ trust.alias }}" ng-show="trust.showTrustButton">[T]</a>
                                <a href="#" ng-click="trustCtrl.distrustClick(trust);" ng-title="Trust {{ trust.alias }}">[D]</a>
                                <a href="#" ng-click="trustCtrl.untrustClick(trust);" ng-title="Trust {{ trust.alias }}">[U]</a>
                            </div>
                            <!-- <div><a ng-href="{{ verifyTrustLink(trust) }}" target="_blank" ng-title="Trust data">Verify Trust 3</a></div> -->
                        </td>
                        <td>
                            <span class="trusted">{{ trust.parseAttributes.trust }}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" ng-show="trustCtrl.distrusted.length > 0">
            <div class="col-xs-12">
                <h4>Distrusted by:</h4>
                <table class="trustList" >
                    <tr ng-repeat="trust in trustCtrl.distrusted">
                        <td>
                            <a href="#" ng-click="trustCtrl.analyseClick(trust)"><img ng-src="data:image/svg+xml;base64,{{ trust.identiconData64 }}"></a>
                        </td>
                        <td>
                            <div ng-hide="!trust.alias">Alias: {{ trust.alias }}</div>
                            <div>Address: {{ trust.issuer.address }} - 
                                <a href="#" ng-click="trustCtrl.trustClick(trust);" ng-title="Trust {{ trust.alias }}">[T]</a>
                                <a href="#" ng-click="trustCtrl.distrustClick(trust);" ng-title="Trust {{ trust.alias }}">[D]</a>
                                <a href="#" ng-click="trustCtrl.untrustClick(trust);" ng-title="Trust {{ trust.alias }}">[U]</a>
                            </div>
                            <!-- <div><a ng-href="{{ verifyTrustLink(trust) }}" target="_blank" ng-title="Trust data">Verify Trust 3</a></div> -->
                        </td>
                        <td>
                            <span class="trusted">{{ trust.parseAttributes.trust }}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-link btn-xs" ng-click="trustCtrl.showHideJson()">JSON data</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" ng-show="trustCtrl.jsonVisible">
                <div>Trust Data</div>
                <pre>{{ trustCtrl.trustData }}</pre>
                <div>Trust Query Result</div>
                <pre>{{ trustCtrl.json }}</pre>
            </div>
        </div>
    </div>
    <!-- <div class="modal fade" id="trustData" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <pre>{{ trustData }}</pre>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div> -->
</html>